CLIENT_ID=
BACKEND_URL=http://{ip address of system}:8080
AVATAR_API=


# Postgres configurations
POSTGRES_HOST=
POSTGRES_USER= 
POSTGRES_PASSWORD= 
POSTGRES_DB=


#Redis configuration
REDIS_HOST=
REDIS_PASS=

# Github configuration

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


# AWS Configurations
AWS_BUCKET=
AWS_ACCESS=
AWS_SECRET=
AWS_URL=http://localstack:4566
AWS_REGION=us-east-1

