.timerange-cont button {
  border: none;
  outline: none;
  margin-right: 1em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  background: transparent;
  color: white;
}

.timerange-cont button.active {
  background: linear-gradient(108.5deg, #3a5e72 4.95%, #5c93b1 132.43%);
}
