.projectcard {
  position: relative;
  border-radius: 1em;
  background-color: var(--home-page-card-bg);
  max-width: 554px;
  width: 90%;
  height: 100%;
  min-height: 257px;
  padding: 1em;
}

.projectcard:hover {
  cursor: pointer;
}

.projectcard h1 {
  color: #ededed;
  margin-bottom: 0.2em;
}

.projectcard p {
  color: #bfbfbf;
  margin-bottom: 0.6em;
}

.invisible-height{
  height: 30px;
}

.projectcard-status {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 1em;
}

.projectcard-status div {
  background: var(--home-page-card-tab-bg);
  padding-left: 0.5em;
  border-radius: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
}

.projectcard-status div span:last-child {
  border: 1px solid #402aa4;
  padding: 1em;
  border-radius: 0.8em;
}

.projectcard-contributor {
  list-style: none;
}

.projectcard-contributor li {
  border-radius: 50%;
  padding: 0.3em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: inline-block;
  position: relative;
  font-size: smaller;
  border: 1px solid white;
  color: white;
  transition: 0.2s ease;
}

.projectcard-contributor li:nth-child(n + 2) {
  margin-left: -0.6em;
}

.projectcard-contributor:hover li:nth-child(n + 2) {
  margin-left: -0.3em;
}

.projectcard-contributor li:nth-child(4n) {
  background: #e95744;
}

.projectcard-contributor li:nth-child(4n-1) {
  background: #db1b24;
}

.projectcard-contributor li:nth-child(4n-2) {
  background: #586266;
}

.projectcard-contributor li:nth-child(4n-3) {
  background: #e8aa0a;
}

.image-stack {
  margin-left: 1rem;
}

.project-image {
  display: inline-block;
  margin-left: -10px;
  width: 28px;
  height: 28px;
  border: 1px solid white;
  border-radius: 50%;
}

.hide {
  display: none;
}
.workspace-popup {
  position: absolute;
  right: 50px;
  top: 50px;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 33px;
  gap: 10px;

  position: absolute;
  width: 111px;
  height: 110px;

  background: rgba(26, 26, 57, 0.5);
  border: 1px solid #402aa4;
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 12px;
}

.workspace-popup-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
.workspace-popup-btn img {
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.workspace-details-btn {
  display: flex;
  justify-content: end;
  height: 50px;
}
.workspace-details-btn img {
  border-radius: 2rem;
  font-size: 1rem;
}
