.contributor-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
  width: 100%;
}

.contributors {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.contributor-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24.9061px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 70px;
}

.next-contributors {
  display: flex;
  align-items: center;
}
