@import "./projectCard.scss";
@import "./home.scss";
@import "./projectcardcont.scss";
@import "./navbar.scss";
@import "./searchbar.scss";
@import "./timerange.scss";
@import "./buttonBar.scss";
@import "./contributor.scss";
@import "./leaderboard.scss";
@import "./projectPage.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-style: normal;
  background: #1b262c;
  color: white;
}

@media only screen and (max-width: 860px) {
  //  use this break point
}

button:hover,
a:hover {
  cursor: pointer;
}

// Only for development
.bd-white {
  border: 1px solid white;
}
