.home-header {
  display: flex;
  position: relative;
}

.searchbar-cont {
  flex-grow: 1;
}

.home-main-cont {
  display: flex;
}

.projectcard-cont {
  flex-grow: 1;
}

.leaderboard-cont {
  max-width: 25%;
}

@media only screen and (max-width: 860px) {
  .home-header {
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin: 0;
    padding: 0;
  }

  .home-main-cont {
    flex-direction: column;
    align-items: center;
  }
  .timerange-cont {
    position: absolute;
    left: 120px;
  }
  .leaderboard-cont {
    max-width: 100%;
  }
}
