.projectcard-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 860px) {
  .projectcard-cont {
    grid-template-columns: 1fr;
  }
}
