.search-container {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

.search-input {
  width: 638px;
  color: white;
  margin-left: 80px;
  margin-bottom: 2em;
  padding: 12px 44px;
  background-color: #263b47;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  background-image: url("../assets/images/search-normal.svg");
  background-repeat: no-repeat;
  background-position: 2% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.392);
  letter-spacing: 1.5px;
  padding-left: 1px;
}

.search-input:focus {
  color: white;
  padding: 12px;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  border-radius: 0;
  background-position: 97% center;
}
@media only screen and (max-width: 860px) {
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    margin-right: 4.1em;
  }
}
