:root {
  --bg: linear-gradient(116.82deg, #1d1d42 0%, #313178 100%);
  --font-family: 'Poppins';
  --home-page-card-bg: #141432;
  --font-color: white;
  --timerange-switch-btn-bg: linear-gradient(
    108.5deg,
    #402aa3 4.95%,
    #3f29a4 132.43%
  );
  --home-page-card-tab-bg: #26264e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  background: var(--bg);
  color: var(--font-color);
}

@media only screen and (max-width: 860px) {
  //  use this break point
}

button:hover,
a:hover {
  cursor: pointer;
}

// Only for development
.bd-white {
  border: 1px solid white;
}
