.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.home-main-cont {
  display: flex;
}

.projectcard-cont {
  width: 75%;
}

.leaderboard-cont {
  flex-grow: 1;
}

.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader-container {
  width: 50px;
  height: 50px;
  position: relative;
  padding: 50px;
}
.home-header button {
  border: none;
  outline: none;
  margin-right: 1em;
  padding: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 2em;
  color: white;
  font-size: 0.9rem;
  background: var(--timerange-switch-btn-bg);

}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.31);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .loading {
    margin: 0;
    padding: 0;
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 860px) {
  .home-header {
    flex-direction: column;
    align-items: center;
  }

  .home-main-cont {
    flex-direction: column;
    align-items: center;
  }

  .projectcard-cont {
    width: 100%;
  }

  .leaderboard-cont {
    width: 90%;
  }
}
